@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 2rem;
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 4rem;
}

.item-link {
  color: black;
  cursor: pointer;
}

.item-link:hover svg {
  fill: #008CFF;
}

.item-link:hover {
  color: #008CFF;
}

.fab {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  margin: 2rem;
  border-radius: 50%;
  background-color: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

.fab a {
  color: white;
}